.JoinPage {
  background-color: rgb(175, 187, 241);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JoinContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JoinContainer > img {
  width: 10vmax;
}

.JoinContainer > h1 {
  color: rgba(58, 85, 195, 0.954);
  font-size: 2.5vmax;
  width: 25vmax;
  border-bottom: 0.2vmax solid rgb(17, 15, 15);
  text-align: center;
  padding: 1vmax;
  font-family: Sans-serif;
  box-sizing: border-box;
}

#joinInput {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  margin: 2vmax;
  box-sizing: border-box;
}

.joinbtn {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  color: white;
  font-family: Sans-serif;
  outline: none;
  font-size: 1.2vmax;
  background-color: rgb(14, 57, 244);
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: pointer;
}
.joinbtn:hover {
  background-color: rgb(110, 102, 227);
}
